APP_ENV=dev
APP_PORT=8080
DB_DRIVER=postgres
DB_HOST=localhost
DB_NAME=appdb
DB_PASS=myStrongPassword
DB_PORT=5432
DB_TIME_ZONE=UTC
DB_USER=postgres
DB_SCHEMA=public
REDIS_DB=0
REDIS_DB_SECONDARY=1
REDIS_HOST=localhost:6379
REDIS_PASS=myStrongPassword
REDIS_PORT=6379
TOKEN_LIFE_TIME=30
